@font-face {
    font-family: BebasNeue;
    src: url(fonts/BebasNeue-Regular.ttf);
}
body{
    background-color: black;
    margin: 0;
    padding: 0;
    width: 100%;
}
.menu{
    display: none;
}
.menu.active{
    display: block;
    position: absolute;
    opacity: 1;
    z-index: 3;
    left: 10%;
    top: 45%;
}
.redLine{
    width: 60px;
    height: 10px;
    background-color: rgb(255, 0, 0);
}
.transparentLine{
    width: 60px;
    height: 10px;
}
.picture{
    display: block;
    margin: auto;
    transition: 1s;
    width: 100%;
}
.picture.active{
    width: 50%;
    opacity: 0.75;
    height: 100%;
}
.header{
    position: fixed;
    width: 100%;
    top: 0;
    height: 250px;
    background-color: black;
}
.header.active{
    opacity: 0.75;
    z-index: 10;
}
#nav{
    display: none;
}
#nav.active{
    display:inline-block;
    background-color: rgb(40, 40, 40);
    opacity: 1;
    width: 100%;
    border-radius: 0 0 50px 50px;
}
.nav_item{
    font-family: BebasNeue;
    color: rgb(200, 0, 0);
    font-size: 20px;
    margin: auto;
    width: 20%;
    text-align: center;
    letter-spacing: 2px;
}
#spacer{
    display: block;
    width: 100%;
    height: 250px;
}
#starter{
    display: block;
    width: 75%;
    margin: auto;
    margin-top: 95%;
}
#starter.display{
    display: none;
}
#starter:hover{
    cursor: pointer;
}
.starter_text{
    background-color: red;
    font-size: 75px;
    font-family: BebasNeue;
    color: wheat;
    text-align: center;
    border-radius: 75px;
}
@keyframes entering_anim {
    0%{
        margin-top: 100%;
    }
    100%{
        margin-top:0%;
    }
}
#mains{
    display: none;
    animation: entering_anim 1s;
}
#mains.active{
    display: block;
    width: 100%;
}
#films{
    display: none;
    animation: entering_anim 1s;
}
#films.active{
    display:block;
    width: 100%;
}
#cartoons{
    display: none;
    animation: entering_anim 1s;
}
#cartoons.active{
    display: block;
    width: 100%;
}
#series{
    display: none;
    animation: entering_anim 1s;
}
#series.active{
    display: block;
    width: 100%;
}
.row{
    display: flex;
    width: 100%;
}
.item{
    width: 100%;
    margin: auto;
    display: block;
    position: relative;
}
.pic{
    display: block;
    margin: 15px auto;
    width: 85%;
    height: 20%;
    transition: 1s;
}
.description{
    display: none;
    transition: 1s;
}
.pic:hover{
    filter: brightness(25%);
}
.pic:hover + .description{
    display: block;
    position: absolute;
    z-index: 2;
    bottom: 5%;
    width: 80%;
    left: calc(24px + 10%);
    font-family: BebasNeue;
    font-size: 30px;
    letter-spacing: 5px;
    color: aliceblue;
}
#abouts{
    display: none;
}
#abouts.active{
    display: block;
    width: 70%;
    margin: auto;
}
.author_text{
    font-family: BebasNeue;
    font-size: 30px;
    letter-spacing: 3px;
    color: red;
}